* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.div-src {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container {
  background-color: antiquewhite;
  width: 500px;
  height: 700px;
  overflow-y: scroll;
}

.list {
  display: flex;
  margin: 20px;
  justify-content: center;
  gap: 1rem;
}

.input-todo {
  width: 300px;
  height: 30px;
  border: none;
  padding-left: 2rem;
}

.add {
  background-color: aqua;
  border: none;
  width: 100px;
}
.delete-todo {
  background-color: red;
}
.submit-todo {
  background-color: rgb(139, 236, 139);
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.lists {
  display: flex;
  min-height: 15px;
  width: 300px;
  background-color: aqua;
  align-items: center;
  margin-left: 2.5rem;
  padding: 1rem;
}
.flex {
  display: flex;
  gap: 1.3rem;
}
